<footer>
    <img src="/images/logo-text.png" alt="Throttle Finds" class="logo-text">
    <div class="social-links">
        <a href="https://www.facebook.com/marketplace/profile/100092179225766/?ref=permalink&mibextid=6ojiHh" target="_blank" rel="noopener" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.instagram.com/throttlefinds/" target="_blank" rel="noopener" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
    </div>
    <p class="fineprint">860 W Main St Ste B, Spartanburg, SC 29301 &middot; (864) 270-3379</p>
    <p class="fineprint">&copy; 2026 Throttle Finds. All rights reserved.</p>
</footer>
{% include analytics.html %}
